/* Variáveis das cores */
:root {
 --cor-1: #ffffff;
 --cor-2: #ffffff0e;
 --cor-3: #00374d;
 --cor-4: #ffffff77;
 --cor-5: #0D0D0D;
 --cor-6: #0abde6;
 --cor-7: #ffffff31;
}

/* Fonte de letra baixada */
@font-face {
    font-family: 'picturama';
    src: url('font/Picturama.otf') format('woff2');
}

/* Fonte de letra baixada */
@font-face {
    font-family: 'gobold';
    src: url('font/Gobold.otf') format('woff2');
}

/* Fonte de letra baixada */
@font-face {
    font-family: 'Bebas';
    src: url('font/Bebas.otf') format('woff2');
}

/* Corpo da página */
body {
    background: linear-gradient(to bottom, var(--cor-3), var(--cor-6));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Barra de navegação */
nav {
    padding: 20px;
    font-family: 'Bebas';
    font-size: 18px;
}

/* Centraliza a barra de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Coloca a barra de navegação no modo inline */
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estiliza a barra de navegação */
nav ul li a {
    text-decoration: none;
    color: var(--cor-1);
    font-weight: bold;
}

/* Modifica a estilização dos itens da barra de navegação ao quando o cursor fica em cima */
nav ul li a:hover {
    color: var(--cor-6);
}

/* Container da página inicial */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

/* Conteúdo da página inicial */
#ola-yuri {
    background-color:#00000000;
    width: 100em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0) 3px 3px 9px;
}

/* Estilização do meu nome de apresentação */
#yuri-efeito{
    font-family: 'picturama';
    font-size: 60px;
    color: var(--cor-6);
    margin-left: 30px;
    animation: sumir-e-aparecer 4s ease-in-out infinite;
}

/* Efeito de transição da apresentação do meu nome */
@keyframes sumir-e-aparecer {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Conteúdo lateral do inicio */
aside {
    background-color: var(--cor-4);
    float: right;
    width: 40em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
    text-align: center;
}

/* Estilização da minha biografia */
#bio {
    color: var(--cor-1);
    padding: 10px 30px;
    text-align: justify;
}

/* Icones de redes sociais centralizada */
#redes-centro{
    text-align: center;
}

/* Estilização das imagens das redes sociais ao passar o curso em cima*/
.redes-img{
    width: 2em;
    padding: 10px;
}

/* Estilização das imagens das redes sociais ao passar o curso em cima*/
.redes-img:hover{
    width: 30px;
}

/* Alteração de cor e fonte do h1 e h2 da página inicial */
#h1-white, #h2-white{
 color: var(--cor-1);
 font-family: 'gobold';
}

/* Estilização do h1 */
h1 {
    font-family: 'picturama';
}

/* Estilização da section */
section {
    background-color: var(--cor-1);
    width: 100em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 9px;
}

/* GIF do Bart centralizada */
#bart {
    width: 5em;
    display: block;
    margin: auto;
}

/* Estilização das imagens de skills */
.skills-img {
    width: 2em;
    margin: 8px;
}

/* Estilização das imagens de skills ao passar o cursor em cima*/
.skills-img:hover {
    width: 30px;
}

/* Centralização dos conteúdos dos projetos */
.conteudo-proj {
    text-align: center;
}

/* Estilização das imagens dos projetos */
.imgprojetos {
    width: 10em;
    margin: 8px;
    border-radius: 5px;
}

/* Estilização dos links em texto */
a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor-3);
}

/* Estilização dos links em texto ao passar o cursor em cima*/
a:hover {
    color: var(--cor-6);
}

/* Rodapé das páginas*/
footer {
    background-color: var(--cor-2);
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    color: var(--cor-7);
}