@charset "UTF-8";

table {
    width: 50px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}


td {
    border: 1px;
    padding: 8px;
}

.preto {
    background-color: black;
}

.azul {
    background-color: #0909a0;
}

.vermelho {
    background-color: #a80c0c;
}

.marrom {
    background-color: #642525;
}

.pele {
    background-color: #fcd5b5;
}

footer {
    text-align: center;
    
}