:root {
 --cor-1: #ffffff;
 --cor-2: #494949;
 --cor-3: #1f4134;
 --cor-4: #5abb8365;
 --cor-5: #b3b9c0;
}

body{
    background-color: var(--cor-3);
}

#container {
    display: flex;
    padding: 0px 80px;
}

header{
    background-color: var(--cor-3);
    color: var(--cor-1);
}

nav {
    padding-bottom: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-1);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-4);
}

section {
    background-color: var(--cor-1);
    width: 100em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 9px;
}

aside {
    background-color: var(--cor-4);
    float: right;
    width: 40em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 9px;
}

#bart {
    width: 5em;
    display: block;
    margin: auto;
}
footer {
    background-color: var(--cor-4);
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}