/* Variáveis de cores */
:root {
 --cor-1: #ffffff;
 --cor-2: #00000028;
 --cor-3: #2f7777;
 --cor-4: #ffffff77;
 --cor-5: #0D0D0D;
}

/* Fonte de letra baixada */
@font-face {
    font-family: 'picturama';
    src: url('font/Picturama.otf') format('woff2');
}

/* Corpo da página */
body {
    background-color: var(--cor-3);
}

/* Barra de navegação */
nav {
    padding: 20px;
}

/* Centraliza a barra de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Coloca a barra de navegação no modo inline */
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estiliza a barra de navegação */
nav ul li a {
    text-decoration: none;
    color: var(--cor-1);
    font-weight: bold;
}

/* Modifica a estilização dos itens da barra de navegação ao quando o cursor fica em cima */
nav ul li a:hover {
    color: var(--cor-4);
}

/* Container da pagina inicial */
#container {
    display: flex;
    padding: 10px;
}

/* Conteúdo da página inicial */
#ola-yuri {
    background-color:#1f4134;
    width: 100em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0) 3px 3px 9px;
    font-family: monospace;
}

/* Estilização do meu nome de apresentação */
#yuri-efeito{
    font-family: 'picturama';
    font-size: 60px;
    color: var(--cor-1);
    margin-left: 30px;
    animation: sumir-e-aparecer 3s ease-in-out infinite;
}

/* Efeito de transição da apresentação do meu nome */
@keyframes sumir-e-aparecer {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Conteúdo lateral do inicio */
aside {
    background-color: var(--cor-4);
    float: right;
    width: 40em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
    text-align: center;
}


#icon-centro{
    text-align: center;
}

header{
    background-color: var(--cor-3);
    color: var(--cor-1);
}

#htransparente {
    color: var(--cor-3);
}

h2{
 color: var(--cor-1);
}

section {
    background-color: var(--cor-1);
    width: 100em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 9px;
}

#bart {
    width: 5em;
    display: block;
    margin: auto;
}

img {
    width: 2em;
    margin: 8px;
}

.imgprojetos {
    width: 10em;
    margin: 8px;
    border-radius: 5px;
}

.txtprojetos {
    width: 6em;
    margin: 8px;
    text-align: center;
}

.conteudo-proj{
    text-align: center;
}



a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor-5);
}

a:hover{
    color: var(--cor-3);
}

.skills:hover{
    width: 35px;
}

/* Rodapé das páginas*/
footer {
    background-color: var(--cor-2);
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}