:root {
 --cor-1: #ffffff;
 --cor-2: #00000028;
 --cor-3: #2f7777;
 --cor-4: #ffffff77;
 --cor-5: #0D0D0D;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'picturama';
    src: url('font/Picturama.otf') format('woff2');
}

body{
    background-color: var(--cor-3);
}

#container {
    display: flex;
    padding: 0px 80px;
}

#icon-centro{
    text-align: center;
}

#yuri{
    font-family: 'picturama';
    margin-left: 30px;
}

@keyframes sumir-e-aparecer {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#yuri2{
    font-family: 'picturama';
    font-size: 60px;
    color: var(--cor-1);
    margin-left: 30px;
    animation: sumir-e-aparecer 3s ease-in-out infinite;
}

#pag1 {
    background-color:#1f413400;
    width: 100em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0) 3px 3px 9px;
}

header{
    background-color: var(--cor-3);
    color: var(--cor-1);
}

#htransparente {
    color: var(--cor-3);
}

h4{
 color: var(--cor-1);
}

nav {
    padding-bottom: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-1);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--cor-4);
}

section {
    background-color: var(--cor-1);
    width: 100em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 9px;
}

aside {
    background-color: var(--cor-4);
    float: right;
    width: 40em;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px 5px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 9px;
    text-align: center;
}

#bart {
    width: 5em;
    display: block;
    margin: auto;
}

img {
    width: 2em;
    margin: 8px;
}

footer {
    background-color: var(--cor-2);
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}